/* ap dung cho tac ca phan tu*/
* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}
/* quy doi */
html {
  font-size: 62.5%;
}
/* khoi phuc lai co chu mac dinh theo rem */
body {
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
}
/* =======================common===================== */
.container {
  max-width: calc(100% - 48px);
  width: 1170px;
  /* can giua */
  margin: 0 auto;
}
a {
  /* loai bo dau gach chan */
  text-decoration: none;
}
/* nut btn */
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
}
/* =======================header===================== */
header {
  padding-top: 30px;
  background: var(--header-bg);
  /* chieu cao toi thieu se bang 100% khung nhin cua khach hang */
  min-height: 100vh;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}
.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}
.navbar__link--active::before {
  position: relative;
  right: 8px;
  top: -3px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.header__action--sign-up {
  min-width: 104px;
  font-size: 1.6rem;
  line-height: 44px;
}
.header__action--login {
  margin-right: 7px;
}
/* =====================hero====================== */
.hero {
  display: flex;
  padding-top: 76px;
  align-items: center;
}
.hero__content {
  width: 44%;
}
.hero__media {
  /* co tac dung chiem het khoang khong gian con lai */
  flex: 1;
}
.hero__heading {
  /* width: 517px; */
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  /* width: 468px; */
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero__images {
  display: flex;
  align-items: center;
  /* cho khoi ben hero__media don ve ben phai */
  justify-content: flex-end;
}

.hero__img {
  border-radius: 6px;
  object-fit: cover;
}
.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  /* vi no duoc ghi truoc nen anh se nam duoi => su dung z-index de cho no nam tren */
  z-index: 1;
}
.hero__img--small {
  width: 210px;
  height: 410px;
}
